/** @format */
#root {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	overflow-x: hidden;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	max-width: 80%;
	height: 100%;
	margin: 0px auto;
	background-color: #f7f0f0;
	position: relative;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: #2980b9;
	color: white;
	text-transform: uppercase;
	font-weight: normal;
	margin: 0 0 0px 0;
	position: relative;
	border: 2px solid rgb(255, 255, 244);
}

h1 {
	background-color: #2980b9;
	color: white;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
	margin: 0;
	display: flex;
	justify-content: center;
}

.fa-plus {
	border: 2px solid white;
	position: fixed;
	top: 450px;
	right: 300px;
	border-radius: 50%;
	background-color: #2980b9;
	color: white;
	height: 60px;
	width: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	cursor: pointer;
}

.desc {
	font-size: 18px;
	background-color: white;
	border: 3px solid #2980b9;
	outline: none;
	width: 90%;
	min-height: 270px;
	padding: 13px 13px 13px 20px;
	color: #2980b9;
	margin-bottom: 20px;
}

h2 {
	position: relative;
	background-color: #3873af;
	color: white;
	font-size: 30px;
	padding: 10px 20px;
	font-weight: normal;
	margin: 0 0 10px 0;
	width: 100%;
	top: -50px;
	display: flex;
	justify-content: center;
}

button {
	text-decoration: none;
	font-size: 30px;
	color: white;
	background-color: #76a0bd;
	border: none;
	padding: 10px 10px;
	position: relative;
	box-shadow: 0px 6px #1192e9;
	border-radius: 10px;
	align-self: centre;
	margin-bottom: 1rem;
	margin-right: 5px;
	cursor: pointer;
}
button:hover {
	box-shadow: 0 4px #2980b9;
	border: none;
	top: 2px;
}
button:active {
	box-shadow: 0 0 #2980b9;
	top: 6px;
	border: none;
}

.btn {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

@media screen and (min-width: 250px) {
	.container {
		min-width: 250px;
	}
}

@media screen and (min-width: 400px) {
	.container {
		min-width: 300px;
	}
}

@media screen and (min-width: 500px) {
	.container {
		min-width: 400px;
	}
}

@media screen and (min-width: 700px) {
	.container {
		min-width: 600px;
	}
}

@media screen and (min-width: 900px) {
	.container {
		min-width: 800px;
	}
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #f7f0f0;
}

li {
	color: rgb(53, 51, 51);
	height: 40px;
	line-height: 40px;
	background-color: rgb(255, 254, 254);
	display: flex;
	margin-top: 10px;
	padding-left: 20px;
	box-shadow: 3px 5px 8px #cfcdcd;
	cursor: pointer;
}

li:hover {
	transform: scale(1.01, 1.2);
	background-color: rgb(231, 229, 229);
	transition: transform 300ms;
	box-shadow: none;
}

.btn-container {
	display: flex;
	justify-content: center;
}

.modal {
	margin: 0;
	position: absolute;
	top: 40px;
	left: 40px;
	bottom: 40px;
	right: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f3f0f0;
	flex-direction: column;
	border: 3px solid #d2e0e7;
}

input {
	font-size: 18px;
	background-color: #f8f2f2;
	width: 90%;
	padding: 13px 13px 13px 20px;
	color: #2980b9;
	margin-bottom: 20px;
	margin-top: 10px;
	border: 3px solid #2980b9;
}

input:focus {
	background-color: white;
	border: 3px solid #2980b9;
	outline: none;
}

textarea {
	font-size: 18px;
	background-color: #fff8f8;
	width: 90%;
	padding: 13px 13px 13px 20px;
	color: #2980b9;
	margin-bottom: 20px;
	height: 200px;
	border: 3px solid #2980b9;
}

textarea:focus {
	background-color: white;
	border: 3px solid #2980b9;
	outline: none;
}

.search {
	color: rgb(53, 51, 51);
	height: 40px;
	width: 100%;
	line-height: 40px;
	background-color: rgb(255, 254, 254);
	display: flex;
	margin-top: 10px;
	padding-left: 20px;
	box-shadow: 3px 5px 8px #cfcdcd;
	border: none;
}
