/** @format */
#root {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	overflow-x: hidden;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 600px;
	margin: 10px auto;
	background-color: #f7f7f7;
}

.modal {
	margin: 0;
	position: absolute;
	top: 40px;
	left: 40px;
	bottom: 40px;
	right: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(102, 241, 209);
	background: radial-gradient(
		circle,
		rgba(102, 241, 209, 0.8323704481792717) 23%,
		rgba(75, 215, 101, 0.9023984593837535) 98%
	);
	flex-direction: column;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: #2980b9;
	color: white;
	text-transform: uppercase;
	font-weight: normal;
	margin: 0 0 0px 0;
	position: relative;
	border: 2px solid rgb(73, 73, 72);
}

h1 {
	background-color: #2980b9;
	color: white;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
	margin: 0;
	display: flex;
	justify-content: center;
}

.fa-plus {
	border: 2px solid white;
	position: absolute;
	left: 0;
	top: 2px;
	border-radius: 50%;
	background-color: black;
}

input {
	font-size: 18px;
	background-color: #f3ebeb;
	width: 90%;
	padding: 13px 13px 13px 20px;
	color: #2980b9;
	border: rgba(128, 91, 91, 0);
	margin-bottom: 20px;
	margin-top: 10px;
	border: 3px solid #2980b9;
}

input:focus {
	background-color: white;
	border: 3px solid #2980b9;
	outline: none;
}

textarea {
	font-size: 18px;
	background-color: #f3ebeb;
	width: 90%;
	padding: 13px 13px 13px 20px;
	color: #2980b9;
	border: rgba(128, 91, 91, 0);
	margin-bottom: 20px;
	height: 200px;
	border: 3px solid #2980b9;
}

textarea:focus {
	background-color: white;
	border: 3px solid #2980b9;
	outline: none;
}

.desc {
	font-size: 18px;
	background-color: white;
	border: 3px solid #2980b9;
	outline: none;
	width: 90%;
	min-height: 270px;
	padding: 13px 13px 13px 20px;
	color: #2980b9;
	margin-bottom: 20px;
}

h2 {
	position: relative;
	background-color: #3873af;
	color: white;
	font-size: 30px;
	padding: 10px 20px;
	font-weight: normal;
	margin: 0 0 10px 0;
	width: 100%;
	top: -50px;
	display: flex;
	justify-content: center;
}

button {
	text-decoration: none;
	font-size: 30px;
	color: white;
	background-color: #7f9db1;
	border: none;
	padding: 10px 10px;
	position: relative;
	box-shadow: 0px 6px #1192e9;
	border-radius: 10px;
	align-self: centre;
	margin-bottom: 1rem;
}
button:hover {
	box-shadow: 0 4px #2980b9;
	border: none;
	top: 2px;
}
button:active {
	box-shadow: 0 0 #2980b9;
	top: 6px;
	border: none;
}
/************
/*
.button1 {
	text-decoration: none;
	font-size: 15px;
	width: 70px;
	color: white;
	background-color: #2a5077;
	border: none;
	padding: 5px 5px;
	position: relative;
	box-shadow: 0px 6px #1192e9;
	border-radius: 5px;
	align-self: centre;
	display: flex;
	flex-direction: row;
	margin: 1rem 5px;
	text-transform: uppercase;
}
.button1:hover {
	box-shadow: 0 4px #2980b9;
	border: none;
	top: 2px;
}
.button1:active {
	box-shadow: 0 0 #2980b9;
	top: 6px;
	border: none;
}

.notes {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

 .note {
	max-height: 200px;
   max-width: 250px; 
	border: 1px solid #ccc;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px 10px;
	background-color: #323538;
} */

.btn {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

@media screen and (min-width: 250px) {
	.container {
		min-width: 250px;
	}
}

@media screen and (min-width: 300px) {
	.container {
		min-width: 300px;
	}
}

@media screen and (min-width: 400px) {
	.container {
		min-width: 400px;
	}
}

@media screen and (min-width: 600px) {
	.container {
		min-width: 600px;
	}
}

@media screen and (min-width: 900px) {
	.container {
		min-width: 900px;
	}
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

span {
	background-color: #e0e5e9;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: rgb(63, 62, 62);
	width: 0px;
	display: inline-flex;
	transition: 0.5s all;
	opacity: 0;
	display: flex;
}

i {
	padding: 10px;
	border-right: 1px solid #000;
}

li:hover span {
	width: 112px;
	opacity: 1;
}

li {
	background-color: rgb(128, 124, 124);
	height: 40px;
	line-height: 40px;
	color: rgb(247, 244, 244);
	display: flex;
}

li:nth-child(2n) {
	background-color: #797474;
}
